:root {
    --tamagui-color-dark-gray-4: #282828;
    --tamagui-color-dark-gray-5: #2E2E2E;
    --tamagui-color-dark-gray-6: #343434;
    --tamagui-color-dark-gray-8: #505050;
    --tamagui-color-dark-gray-9: #707070;
    --tamagui-color-dark-gray-10: #7E7E7E;
    --tamagui-color-dark-gray-12: #EDEDED;
    --tamagui-color-light-gray-4: #EDEDED;
    --tamagui-color-light-gray-5: #E8E8E8;
    --tamagui-color-light-gray-6: #E2E2E2;
    --tamagui-color-light-gray-8: #C7C7C7;
    --tamagui-color-light-gray-12: #171717;
}