:root {
    --tamagui-color-gray-4: #282828;
    --tamagui-color-gray-6: #343434;
    --tamagui-color-gray-8: #505050;
    --tamagui-color-gray-9: #707070;
    --tamagui-color-gray-10: #7E7E7E;
    --tamagui-color-gray-12: #EDEDED;
}