@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --tamagui-font-family: 'Inter', sans-serif;
    --tamagui-font-size-2-xs: 0.75rem;
    --tamagui-font-size-xs: 0.8125rem;
    --tamagui-font-size-sm: 0.875rem;
}